:root {
  font-size: $default-text-size;
}

body {
  line-height: 1.5;
  // font-family: 'Fraunces', sans-serif;
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  color: $color-neutral-grayish-blue-text;

  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
  .fw-700 {
    font-weight: 800;
  }

  ////BUTTON

  ////CORE SERVICES

  ////FOOTER

  ////FORM

  ////HEADER

  ////MENU NAV

  ////MODAL

  ////MODAL COMPLETE

  ////PLEDGES

  ////PLEDGE BOX

  ////PLEDGE BOX

  ////PRODUCT

  ////PROJECT STATS
}
