///////////////////////////////////////////////////////////
////        CONTAINER

// container
.container {
  padding: 5vh 0;
}

// Component
.app-component {
  max-width: $main-component-max-width-desktop;
  @include margin-centralize;

  @include respond(600) {
    max-width: $main-component-max-width-mobile-600px;
  }
}

///////////////////////////////////////////////////////////
////        HEADER

///////////////////////////////////////////////////////////
////        MAIN

///////////////////////////////////////////////////////////
////        MAIN - Product

///////////////////////////////////////////////////////////
////        MAIN - PROJECT SUMMARY

// PROJECT STATS

///////////////////////////////////////////////////////////
////        MAIN - PLEDGES VIEW

///////////////////////////////////////////////////////////
////        MODAL
