///////////////////////////////////////////////////////////
////        CONTAINER

// container
.container {
  padding: 5vh 0;
  @include respond(1440) {
    padding: 0;
  }
}

// Component
.app-component {
  background-color: $color-neutral-very-pale-blue-main-bg;
  background-repeat: no-repeat;
  background-attachment: local;
  box-shadow: 0 1rem 2rem 0 rgba(black, 0.35);
  max-width: $main-component-max-width-desktop;
  @include margin-centralize;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(600) {
    // max-width: $main-component-max-width-mobile-600px;
  }
}

///////////////////////////////////////////////////////////
////        INTRODUCTION
.introduction {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.5rem 0 2.5rem;
  padding: 7rem 0;

  // TITLE
  &__title {
    margin-bottom: 1rem;
  }

  &__summary {
    @include respond(400) {
      padding: 0 1rem;
    }
  }
}

///////////////////////////////////////////////////////////
////        PRICING COMPONENT
.pricing-component {
  background-color: $color-neutral-white-pricing-component-bg;
  display: flex;
  flex-direction: column;
  max-width: 54.5rem;
  width: 100%;
  margin-bottom: 13.5rem;
  box-shadow: 0 0.1rem 1rem 0 rgba(black, 0.1);
  border-radius: 1rem;

  @include respond(600) {
    max-width: 90%;
  }
}

///////////////////////////////////////////////////////////
////        PRICING COMPONENT - MAIN SECTION

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include respond(500) {
    flex-direction: column;
  }
}

///////////////////////////////////////////////////////////
////        PRICING COMPONENT - FOOTER SECTION
.footer {
  border-top: 0.15rem solid rgba(black, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(500) {
    flex-direction: column;
  }
}
///////////////////////////////////////////////////////////
////        MAIN - PROJECT SUMMARY

// PROJECT STATS

///////////////////////////////////////////////////////////
////        MAIN - PLEDGES VIEW

///////////////////////////////////////////////////////////
////        MODAL
