* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  color: #858fad; }
  body .fw-500 {
    font-weight: 500; }
  body .fw-600 {
    font-weight: 600; }
  body .fw-700 {
    font-weight: 700; }
  body .fw-700 {
    font-weight: 800; }

.container {
  padding: 5vh 0; }

.app-component {
  max-width: 144rem;
  margin: 0rem auto; }
  @media only screen and (max-width: 37.5em) {
    .app-component {
      max-width: 55rem; } }
